{# <form action="test/checkTest" method="POST"> #}
{{ form_start(form) }}
{% for i in 1..questionsCount %}
    {% set question = questionsTestList[i - 1] %}
    {% set vid = "" %}
    {% set vc = "" %}
    <fieldset>
        <legend>
            <h4>{{ question.content }}</h4>
        </legend>
        {% for variant in questionVariantsList[i - 1] %}
            {% if questionTypeList[i - 1] != 'text' %}
                {% set vid = variant.id %}
                {% set vc = variant.content %}
            {% endif %}
            <span class="row text-center">
                <input type="{{ questionTypeList[i-1] }}" name="Q[{{question.id}}][]" value="{{vid}}">
                    {{ vc }}
                </input>
            </span>
            <!-- /.row text-center -->
        {% endfor %}
    </fieldset>
{% endfor %}
<br>
{{form_widget(form.test_submit)}}
{{ form_end(form) }}
{# </form> #}